/* Nav */

#mainNav {
  background: #000;
  opacity: 0.6;

  .navbar-brand,
  .navbar-toggler {
    color: white;
  }
  .navbar-nav {
    .nav-link {
      color: #fff;
    }
  }
}

/* Home */

header.masthead {
  background-image: url('/assets/images/girls-in-tree.jpg'); /* Replace with your image URL */
  background-size: cover; /* Cover the entire container */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* No repeating */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white; /* Text color */
  position: relative;
}
@media only screen and (min-width: 768px) {
  header.masthead {
    background-position: 0 15%;
  }
}

header.masthead .overlay {
  background: transparent;
}
.page-heading h1,
.subheading {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* horizontal offset, vertical offset, blur radius, color */
}
header.masthead .page-heading h1 {
  font-size: 40px;
}
header.masthead .page-heading,
header.masthead .site-heading {
  padding: 20px;
  margin-top: 120px;
  margin-bottom: 60px;
}
header.home .page-heading,
header.home .site-heading {
  text-align: left;
  background-color: rgba(0, 0, 0, 0.5);
}
header.masthead .page-heading .subheading {
  margin-bottom: 30px;
  font-weight: 400;
}
@media only screen and (min-width: 992px) {
  header.masthead .page-heading h1 {
    font-size: 60px;
  }
  header.masthead .page-heading .subheading {
    font-size: 28px;
  }
}

/* Goals */

.goals-list li {
  margin: 30px 0;
}

/* Misc */

p a.btn {
  text-decoration: none;
}
