---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="home masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="home masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-10 mx-auto">
          <div class="row">
            <div class="col-md-6">
              <!-- Left column content (if any) -->
            </div>
            <div class="col-md-6">
              <div class="page-heading">
                <h1>Join the Movement</h1>
                <h4>
                  Sewickley Unplugged is a group of parents, children, and community members dedicated to supporting healthy relationships with technology and encouraging outdoor play in the Sewickley area.
                </h4>
                <p>
                  Collective action is taking place: at home, in our schools, and in our community. Join us to learn more, share resources, and be part of the change!
                </p>
                <a class="btn btn-primary" href="https://forms.gle/W4hoVLB4qVczjRJs6" target="_blank">Sign the Commitment</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        {{ content }}

      </div>
    </div>
  </div>
